@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-billabong: "Grand Hotel", cursive;
  
  --animate-float: float 6s ease-in-out infinite;
  --animate-float-delayed: float 8s ease-in-out infinite;
}

/* Force light mode implementation for now as UI is hardcoded for light theme */
input, textarea {
  color: #171717;
  background-color: transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
